@using LNF.Models.Scheduler;

@model IEnumerable<ProcessTechModel>
@{
    ViewBag.Title = "Process Techs";
}

<div class="process-techs">
    <div style="margin-bottom: 20px;">
        @Html.ActionLink("Add New Process Tech", "Edit", "ProcessTechs", new { processTechId = 0 }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Manage Groups", "ManageGroups", "ProcessTechs", null, new { @class = "btn btn-default" })
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: center;">Active</th>
                <th>Description</th>
                <th>Building</th>
                <th>Lab</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pt in Model)
            {
                <tr class="@(pt.ProcessTechIsActive ? "" : "inactive")">
                    <td>@pt.ProcessTechName</td>
                    <td style="text-align: center;">@(pt.ProcessTechIsActive ? "True" : "False")</td>
                    <td>@pt.ProcessTechDescription</td>
                    <td>@pt.BuildingName</td>
                    <td>@pt.LabDisplayName</td>
                    <td style="text-align: center;">
                        @Html.ActionLink("edit", "Edit", "ProcessTechs", new { processTechId = pt.ProcessTechID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
